.entete {
  text-align: center;
  .logo {
    height: 44px;
    width: 162px;
    left: 16px;
    top: 0px;
    border-radius: nullpx;
  }
  header {
    padding-top: 10px;
  }
}
.feedback {
  position: absolute;
  padding-top: 28px;
  font-size: 20px;
  left: 45px;
  color: #353535;
}
