@charset "UTF-8";
.card {
  background: #f7f7f7;
  position: relative;
  margin-top: -70px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  padding: 15px 15px 0px 15px;
  overflow: hidden;
}

.button-menu {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  height: 68.07px;
  padding-left: 15px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.button-card {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.border-test {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  width: 40px;
  padding-top: 20px;
}

.flex-align {
  display: flex;
  justify-content: space-between;
}

.card h1 {
  padding-top: 20px;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
  line-height: 41px;
  text-align: left;
}
.text-card h4 {
  text-overflow: inherit;
  overflow: hidden;
}
.button-card .flex-check {
  position: relative;
  left: 200px;
  background: #99e2d0;
  display: none;
}

.button-card:hover .flex-check {
  animation: appearin 0.2s ease-in-out;
  height: 69px;
  width: 68px;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: appearin 0.2s ease-in-out;
  position: relative;
  left: 0;
}

@keyframes appearin {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.check {
  background: #99e2d0;
  color: white;
  font-size: 22px;
}

.button-card:hover .button-menu {
  border-radius: 15px;
}

.entrees {
  opacity: 0; /* masquer l'élément */
  transform: translateX(
    100%
  ); /* positionner l'élément en dehors de l'écran à droite */
  animation: apparition 1s ease forwards; /* définir l'animation */
}

.plats {
  opacity: 0; /* masquer l'élément */
  transform: translateX(
    100%
  ); /* positionner l'élément en dehors de l'écran à droite */
  animation: apparition 2s ease forwards; /* définir l'animation */
}

.dessert {
  opacity: 0; /* masquer l'élément */
  transform: translateX(
    100%
  ); /* positionner l'élément en dehors de l'écran à droite */
  animation: apparition 3s ease forwards; /* définir l'animation */
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateX(
      100%
    ); /* positionner l'élément en dehors de l'écran à droite */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* positionner l'élément à gauche */
  }
}
.prt {
  display: flex;
}
.prt p {
  display: flex;
  margin-bottom: 18px;
  align-items: end;
  margin-right: 15px;
  padding-top: 25px;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.text-card {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.button-reservez {
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    linear-gradient(to top, #9356dc -5.2%, #ff79da 110.74%);
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 190px;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon-gap {
  margin-left: 50px;
}

.entete {
  padding: 15px;
}

.img-background {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.heart {
  position: absolute;
  left: unset;
  padding-top: 10px;
  font-size: 22px;
  cursor: pointer;
  color: red($color: #dc1111);
}
.heart-solid:hover {
  opacity: 1;
  transition: 200ms ease-in-out;
}
.heart-solid {
  position: absolute;

  left: unset;
  padding-top: 10px;
  font-size: 22px;
  cursor: pointer;
  opacity: 0;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}

@media (min-width: 768px) {
  .card {
    width: 90%;
    left: 5%;
    padding-left: 100px;
    padding-right: 100px;
  }
  .card h1 {
    display: flex;
    justify-content: center;
  }
  .img-background {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  footer nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
  footer ul {
    display: flex;
    gap: 50px;
  }
}
/* Pour les tablettes en mode paysage */
@media (min-width: 1024px) {
  /* Insérez ici vos règles de style pour les tablettes en mode paysage */
}
/* Pour les ordinateurs de bureau */
@media (min-width: 1200px) {
  /* Insérez ici vos règles de style pour les ordinateurs de bureau */
}
@media (max-width: 568px) {
  .nouveau {
    left: unset;
    width: 80px;
    right: 10px;
  }
}
@media (min-width: 768px) {
  .fonctionnement .container-button {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .heart {
    position: relative;
    right: 10px;
  }
  .heart-solid {
    position: relative;
    right: 82px;
  }
  .fonctionnement .button-fonctionnement {
    width: 32%;
    gap: 10px;
  }
  .fonctionnement {
    padding: 0;
    padding-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  footer nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
  footer ul {
    display: flex;
    gap: 50px;
  }
} /*# sourceMappingURL=style.css.map */
