.button-reservez{
  background: linear-gradient(to top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(to top, #9356DC -5.2%, #FF79DA 110.74%);
  
  color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 190px;  
}
  .button{
    display: flex;
    justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

  .icon-gap{
    margin-left: 50px;
    }
    
    .entete {
    padding: 15px;
    }